@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	background-color: #f3f3f3;
	color: #343233;
	font-family: 'Montserrat', sans-serif;
}

#main {
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.message {
	max-width: 50%;
	display: flex;
    flex-direction: column;
    align-items: center;
}